# Vagrant
.vagrant/

# Credenciales / secretos generados en el aprovisionamiento
secrets/
.password
*.token
*.key
*.pem
kubeadm-init.log

# Kubeconfig generado (contiene certificados/credenciales del cluster)
admin.conf
config

# Logs
*.log

# Paquetes de instalaciom
*.deb